{% extends 'base.html'%}


{% block content %}

    <h1>Elektros prekių eshop yra elektroninė parduotuvė, kurioje parduodami įvairūs elektros prietaisai, tokie kaip:</h1>
    <ul>
        <li> Buities prietaisai: šaldytuvai, skalbimo mašinos, indaplovės, televizoriai, mikrobangų krosnelės ir kt.</li>
        <li> Asmeninės priežiūros prietaisai: plaukų džiovintuvai, plaukų formavimo prietaisai, skustuvai, dantų šepetėliai ir kt. </li>
        <li> Techniniai prietaisai: kompiuteriai, telefonai, planšetiniai kompiuteriai, žaidimų konsolės ir kt.</li>
        <li>    Mūsų eshopas siūlo platų asortimentą elektros prekių, konkurencingas kainas ir patogų pristatymą. Mūsų tikslas - suteikti klientams galimybę greitai ir lengvai įsigyti kokybiškus elektros prietaisus už prieinamą kainą.</li>
    </ul>
{% endblock %}

